In [19]:
lst = [0,1,2,3,4,5,6,7]

In [20]:
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7]

In [28]:
for number in lst: 
    
    
    if number == 2: 
        break
        
    say_hello(number)
    
else:
    print('Loop is finsihed and this code runs')

HELLO 0
HELLO 1

In [22]:
def say_hello(num):
    print("HELLO", num)

In [11]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']

# run a loop for each item of the list
for language in languages:
    print(language)

Swift
Python
Go
JavaScript

In [21]:
for i in range(1,101): 
    if is_even(i): 
        print(i)

number is  1
result is  4
number is  2
result is  8
2
number is  3
result is  12
number is  4
result is  16
4
number is  5
result is  20
number is  6
result is  24
6
number is  7
result is  28
number is  8
result is  32
8
number is  9
result is  36
number is  10
result is  40
10
number is  11
result is  44
number is  12
result is  48
12
number is  13
result is  52
number is  14
result is  56
14
number is  15
result is  60
number is  16
result is  64
16
number is  17
result is  68
number is  18
result is  72
18
number is  19
result is  76
number is  20
result is  80
20
number is  21
result is  84
number is  22
result is  88
22
number is  23
result is  92
number is  24
result is  96
24
number is  25
result is  100
number is  26
result is  104
26
number is  27
result is  108
number is  28
result is  112
28
number is  29
result is  116
number is  30
result is  120
30
number is  31
result is  124
number is  32
result is  128
32
number is  33
result is  132
number is  34
result is  136
34
number is  35
result is  140
number is  36
result is  144
36
number is  37
result is  148
number is  38
result is  152
38
number is  39
result is  156
number is  40
result is  160
40
number is  41
result is  164
number is  42
result is  168
42
number is  43
result is  172
number is  44
result is  176
44
number is  45
result is  180
number is  46
result is  184
46
number is  47
result is  188
number is  48
result is  192
48
number is  49
result is  196
number is  50
result is  200
50
number is  51
result is  204
number is  52
result is  208
52
number is  53
result is  212
number is  54
result is  216
54
number is  55
result is  220
number is  56
result is  224
56
number is  57
result is  228
number is  58
result is  232
58
number is  59
result is  236
number is  60
result is  240
60
number is  61
result is  244
number is  62
result is  248
62
number is  63
result is  252
number is  64
result is  256
64
number is  65
result is  260
number is  66
result is  264
66
number is  67
result is  268
number is  68
result is  272
68
number is  69
result is  276
number is  70
result is  280
70
number is  71
result is  284
number is  72
result is  288
72
number is  73
result is  292
number is  74
result is  296
74
number is  75
result is  300
number is  76
result is  304
76
number is  77
result is  308
number is  78
result is  312
78
number is  79
result is  316
number is  80
result is  320
80
number is  81
result is  324
number is  82
result is  328
82
number is  83
result is  332
number is  84
result is  336
84
number is  85
result is  340
number is  86
result is  344
86
number is  87
result is  348
number is  88
result is  352
88
number is  89
result is  356
number is  90
result is  360
90
number is  91
result is  364
number is  92
result is  368
92
number is  93
result is  372
number is  94
result is  376
94
number is  95
result is  380
number is  96
result is  384
96
number is  97
result is  388
number is  98
result is  392
98
number is  99
result is  396
number is  100
result is  400
100

In [20]:
def is_even(num): 
    print("number is ", num)
    result = num * 4
    print("result is ", result)
    return num % 2 == 0

In [8]:
count = 0


while count < 10: 
    print("Hello")
    count += 1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
# coffee shop 
# discount: student: 20%, teacher: 10%, normal: 0%

In [11]:
orders = []
TEA_PRICE=20
COFFEE_PRICE=30

while True: 
    dicount = 0
    customer_type = input('What is your job?\n')
    
    if customer_type == 'q': 
        break
    
    if customer_type == 'student': 
        discount = 20
        
    if customer_type == 'teacher': 
        discount = 10
        
    order = None
    order_type = input("What do you want? \n1) for tea\n2) for coffee")
    
    if order_type == '1': 
        order = {
            'customer_type': customer_type,
            'name': 'TEA', 
            'price': TEA_PRICE * ((100 - discount) / 100)
        }
    elif order_type == '2': 
        order = {
          'customer_type': customer_type,
          'name': 'COFFEE', 
            'price': COFFEE_PRICE * ((100-discount)/100)
        }
        
    orders.append(order)
    
    print("Current orders: ", orders)

What is your job?
student
What do you want?
1) for tea
2) for coffee1
Current orders:  [{'customer_type': 'student', 'name': 'TEA', 'price': 16.0}]
What is your job?
teacher
What do you want?
1) for tea
2) for coffee2
Current orders:  [{'customer_type': 'student', 'name': 'TEA', 'price': 16.0}, {'customer_type': 'teacher', 'name': 'COFFEE', 'price': 27.0}]
What is your job?
student
What do you want?
1) for tea
2) for coffee2
Current orders:  [{'customer_type': 'student', 'name': 'TEA', 'price': 16.0}, {'customer_type': 'teacher', 'name': 'COFFEE', 'price': 27.0}, {'customer_type': 'student', 'name': 'COFFEE', 'price': 24.0}]
What is your job?
q

In [14]:
print(orders[0]['price'])

16.0

In [17]:
total = 0
for order in orders: 
    total += order['price']
    
print('TOTAL SALES', '$'+str(total))

TOTAL SALES $67.0

In [32]:
def hello(): 
    pass

In [36]:
for i in range(100):
    pass

In [37]:
if total == 2: 
    pass